<?xml version="1.0"?>
<!--
/**
 * Cybage Marketplace Plugin
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is available on the World Wide Web at:
 * http://opensource.org/licenses/osl-3.0.php
 * If you are unable to access it on the World Wide Web, please send an email
 * To: Support_Magento@cybage.com.  We will send you a copy of the source file.
 *
 * @category   Marketplace Plugin
 * @package    Livetameion_Restaurant
 * @copyright  Copyright (c) 2014 Cybage Software Pvt. Ltd., India
 *             http://www.cybage.com/pages/centers-of-excellence/ecommerce/ecommerce.aspx
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Cybage Software Pvt. Ltd. <Support_Magento@cybage.com>
 */
-->
<config>
    <modules>
        <Livetameion_Restaurant>
            <version>0.1.0</version>
        </Livetameion_Restaurant>
    </modules>
   <!-- <default>
        <restaurant_catalog>
            <restaurant_presentation>
                <account_page_label>My Supplier Frontend Product Uploader Panel</account_page_label>
                <show_header>0</show_header>
                <show_footer>0</show_footer>
                <include_jquery>1</include_jquery>
            </restaurant_presentation>
        </restaurant_catalog>
        <restaurant_products>
            <restaurant_catalog_config>
                <sku_schema>100001</sku_schema>
                <tax_class_id>0</tax_class_id>
                <images_count>3</images_count>
            </restaurant_catalog_config>
        </restaurant_products>
    </default>-->
    <global>
		<blocks>
            <restaurant>
                <class>Livetameion_Restaurant_Block</class>
            </restaurant>            
        </blocks>
		<models>
			<!-- The following <restaurant> model tag is used in Mage::getModel('model_name/entity_name') -->
			<!-- So, in this case, we will use Mage::getModel('restaurant/entity_name') -->
            <restaurant>
                <class>Livetameion_Restaurant_Model</class>
                <resourceModel>restaurant_resource</resourceModel>
            </restaurant>
			
            <restaurant_resource>
                <class>Livetameion_Restaurant_Model_Resource</class>                               
                <entities>
					<!-- The following <menu> model tag is used in Mage::getModel('model_name/entity_name') -->
					<!-- So, in this case, we will use Mage::getModel('model_name/menu') and so for all entities defined in entities tag -->
					<!-- Also the model class name for entity in Model folder should be the as same as entity name -->
                    <menu>
                        <table>restaurant_menu</table>
                    </menu>
					<item>
                        <table>restaurant_menu_item</table>
                    </item>
                </entities>
            </restaurant_resource>
          <!-- <customer_resource>
                <rewrite>
                    <customer>Livetameion_Restaurant_Model_Resource_Customer</customer>
                </rewrite>
            </customer_resource> -->
            <sales>
                <rewrite>
                    <!--<order>Livetameion_Restaurant_Model_Order</order>-->
                </rewrite>
            </sales>
        </models>
		<resources>
            <restaurant_setup>
                <setup>
                    <module>Livetameion_Restaurant</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </restaurant_setup>
        </resources>
        <helpers>
			<!-- The following <restaurant> helper tag is used in Mage::helper('restaurant') -->
            <restaurant>
                <class>Livetameion_Restaurant_Helper</class>
            </restaurant>
        </helpers>
    </global>
    <frontend>
        <routers>
            <livetameion_restaurant>
                <use>standard</use>
                <args>
                    <module>Livetameion_Restaurant</module>
                    <frontName>restaurant</frontName>
                </args>
            </livetameion_restaurant>
        </routers>
        <layout>
            <updates>
                <restaurant>
                    <file>livetameion_restaurant.xml</file>
                </restaurant>
            </updates>
        </layout>
    </frontend>
</config>
